<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" href="../static/css/style.css">
<title>Martinez Alan</title>
</head>
<body class="fondo">
	<div>
		<div>
				<div class="title">
					<h1>Liga de fútbol Profesional</h1>
				</div>
			<div>
				<nav class="nav">
					<a class="nav-link" href="index.html">Home</a> 
					<a class="nav-link" href="Fixture.html">Fixture</a>
					<a class="nav-link" href="Equipos.html">Equipos</a>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-9">
				<div><h2>Noticias</h2></div>
					<div class="card-deck">
						<div class="card col-4">
							<img th:href="@{/img/Noti1.jpg}" src="../static/img/Noti1.jpg" class="card-img" alt="logoFI">
								<div class="card-body">
										<h3>Card title</h3>
										<p>This is a longer card with supporting
										text below as a natural lead-in to additional content. This
										content is a little bit longer.</p>							
								</div>
						</div>
						<div class="card col-4">
							<img th:href="@{/img/Noti1.jpg}" src="../static/img/Noti1.jpg" class="card-img" alt="logoFI">
									<div class="card-body">
										<h3 class="card-title">Card title</h3>
										<p class="card-text">This card has supporting text below as a
										natural lead-in to additional content.</p>							
									</div>
						</div>
						<div class="card col-4">
							<img th:href="@{/img/Noti1.jpg}" src="../static/img/Noti1.jpg" class="card-img" alt="logoFI">
									<div class="card-body">
										<h3 class="card-title">20/05/2020</h3>
										<p class="card-text">Bundesliga: las imágenes más sorprendentes del atípico regreso del fútbol.</p>							
									</div>
						</div>
				</div>
			</div>
			<div class="col-3">
				<div><h2>Auspiciantes</h2></div>
			</div>
		</div>
	</div>
</body>
<footer>
		<div>Avenida Pedro Ortiz de Zarate N°455-Tel: 3884852338</div>
</footer>
</html>